html,body{
    overflow-x: hidden;
<<<<<<< HEAD
}
=======
>>>>>>> 9d5890b6d3929466108cc0d3454c68e00d3e864d
*{
    margin: 0;
    padding: 0;
}
.logo{
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#top{
    height: 110vh;
    background-color: rgb(225, 237, 243);
}
.image-one{
    width: 50%;
    margin-left: 180px;
    margin-top:15% ;
}
.right{
    margin-top: 10%;
}
.right h6 {
    margin-bottom: 7%;
    font-weight: bold;
}
.right h1 {
    color:#33475b;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 7%;
}
.right p{
    color: #33475b;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.right .btn1{
    padding: 20px 30px;
    background-color: #ff7a59;
    color: white;
}
#mid{
    margin-bottom:10%;
}
.text h1{
    color: #33475b;
    font-size: 38px;
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 9%;
}
ul li{
    list-style: none;
    background: url(//cdn2.hubspot.net/hubfs/53/Offers-Experiment-LP/page-assets/checkmark.svg) no-repeat left top;
    padding-left: 3rem;
    margin: 1rem 0;
}
.carousel-item img{
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
}
.carousel-control-prev-icon{
    background-color: seagreen;
}
.carousel-control-next-icon{
  background-color: seagreen;
}
#middle{
    height: 100vh;
    padding-top: 8%;
    background-color: rgb(225, 237, 243);
}
#middle h1{
    font-size: 32px;
    color: #33475b;
    font-weight: bold;
}
.text-p{
    font-size: 1.125rem;
    line-height: 1.61111em;
    font-weight: 500;
    margin-bottom: 1em;
}
#last{
    margin-bottom: 8%;
}
.lastt h1{
        font-size: 1.5rem;
        line-height: 1.4em;
        font-weight: 700;
        color: #33475b;
        margin-top: 15%;
        margin-bottom: 7%;
}
.btn2{
    background-color: #ff7a59;
    color: white;
    margin-top: 15%;
    margin-left: 25%;
}
footer{
    background-color: #2d3550;
    color: white;
    padding: 2%;
    text-align: center;
}
.fas{
    color: red;
}
@media (max-width: 500px) {
    #top{
        height: 115vh;
    }
    .image-one{
        margin-left: 130px;
    }
    .logo{
        left: 40%;
    }
    }
